<html>
<head>
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script SRC="./js/diff_match_patch.html"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

</head>
<style type="text/css">

  .flex-grid {
    display: flex;
  }
  .col {
    flex: 1;
  }
  .editor {
   height: 92vh;
  }

}


</style>
<!-- Create the editor container -->

<body>

  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary">
    <input type="radio" name="options" id="option1" autocomplete="off" value ="compare"> Compare
    </label>
    <label class="btn btn-secondary active">
      <input type="radio" name="options" id="option2" autocomplete="off" value="edit" checked> Edit
    </label>
  </div>

  <div class="master" style="display:none">
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary">
    <input type="radio" name="master-child" id="option1" autocomplete="off" value ="mc1"> Title 1
    </label>
    <label class="btn btn-secondary active">
      <input type="radio" name="master-child" id="option2" autocomplete="off" value="mc2"> Title 2
    </label>

    <label class="btn btn-secondary active">
      <input type="radio" name="master-child" id="option2" autocomplete="off" value="mc3"> Title 3
    </label>
  </div>
  </div>



<div class="flex-grid">
  <div class = "col">
    <div id="quill-1" class = "editor">


      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tellus mauris a diam maecenas sed. Amet nisl suscipit adipiscing bibendum est ultricies integer. Amet cursus sit amet dictum. Tempus quam pellentesque nec nam. Iaculis at erat pellentesque adipiscing. Ornare arcu dui vivamus arcu felis bibendum ut tristique et. Tincidunt augue interdum velit euismod in pellentesque. Felis eget velit aliquet sagittis id. Velit dignissim sodales ut eu sem integer vitae justo. Elementum curabitur vitae nunc sed velit. Ultrices vitae auctor eu augue ut lectus arcu bibendum. Est sit amet facilisis magna etiam tempor orci. Volutpat commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend. Est velit egestas dui id. Porttitor leo a diam sollicitudin tempor id. Massa id neque aliquam vestibulum morbi blandit. Semper quis lectus nulla at volutpat. Proin nibh nisl condimentum id.
      Egestas congue quisque egestas diam. Faucibus a pellentesque sit amet porttitor eget. Id nibh tortor id aliquet lectus proin nibh. Sed viverra ipsum nunc aliquet bibendum enim. Sapien faucibus et molestie ac feugiat. Sed tempus urna et pharetra pharetra massa massa. Tincidunt tortor aliquam nulla facilisi cras. Consectetur lorem donec massa sapien faucibus et. Euismod nisi porta lorem mollis aliquam. Placerat orci nulla pellentesque dignissim enim sit amet. Rhoncus mattis rhoncus urna neque viverra justo nec.


    </div>
  </div>
  <div class = "col">
    <div id="quill-2" class= "editor">
      Egestas congue quisque egestas diam. Faucibus a pellentesque sit amet porttitor eget. Id nibh tortor id aliquet lectus proin nibh. Sed viverra ipsum nunc aliquet bibendum enim. Sapien faucibus et molestie ac feugiat. Sed tempus urna et pharetra pharetra massa massa. Tincidunt tortor aliquam nulla facilisi cras. Consectetur lorem donec massa sapien faucibus et. Euismod nisi porta lorem mollis aliquam. Placerat orci nulla pellentesque dignissim enim sit amet. Rhoncus mattis rhoncus urna neque viverra justo nec.

      Posuere lorem ipsum dolor sit amet consectetur. Nullam eget felis eget nunc lobortis mattis. Massa sapien faucibus et molestie. Risus in hendrerit gravida rutrum quisque non. Eget felis eget nunc lobortis mattis aliquam faucibus. Odio morbi quis commodo odio aenean sed. Aliquam ut porttitor leo a diam. Sed adipiscing diam donec adipiscing tristique risus nec. Interdum velit euismod in pellentesque massa placerat duis ultricies lacus. Cursus risus at ultrices mi tempus imperdiet nulla malesuada pellentesque. Eros donec ac odio tempor orci dapibus ultrices in iaculis. Justo donec enim diam vulputate ut. Pellentesque eu tincidunt tortor aliquam nulla facilisi cras.

    </div>
  </div>

  <div class = "col">
    <div id="quill-3" class= "editor">
        asdfasdfasdfasdfasdfasdfasdfasdf
        asdfasdfasdfasdfasdfawskjnrbjanwkrn
        awflawkenfawnefjawkejnfkawjnefkjnawef
        akwjefnakwjenfkajwnefkjanwekfjnawkejfnakwe
    </div>
  </div>

  <div class = "col">
    <div id="quill-3" class = "editor"></div>
  </div>

</div>

</body>

<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<!-- Initialize Quill editor -->
<script>




  /*------------------------Quil Start------------------------------*/
  var quill = new Quill('#quill-1', {
    theme: 'snow'
  });

  var quill2 = new Quill('#quill-2', {
    theme: 'snow'
  });

  var quill3 = new Quill('#quill-3', {
    theme: 'snow'
  });


  //dictMe should retrieved from the database
  dicMe = {1:quill.getText(),
           2:quill2.getText(),
           3:quill3.getText()}


  indexArray = [quill,quill2,quill3]




  $('input[name=options]').change(function(){
      var value = $( 'input[name=options]:checked' ).val();
      var options = {}
      if (value=='compare'){
        quill.enable(false)
        quill2.enable(false)
        quill3.enable(false)
        $(".master").show();
        dicMe[1] = quill.getText();
        dicMe[2] = quill2.getText()
        dicMe[3] = quill3.getText()
        launch(1)


      }else{

        quill.enable(true)
        quill2.enable(true)
        quill3.enable(true)
        quill.setText(dicMe[1])
        quill2.setText(dicMe[2])
        quill3.setText(dicMe[3])

        $(".master").hide();

      }
  });

  $('input[name=master-child]').change(function(){
      var value = $( 'input[name=master-child]:checked' ).val();

      if (value=='mc1'){
        launch(1);
      }else if (value=='mc2'){
        launch(2);
      } else if(value =='mc3'){
        launch(3);
      }


});









  diff_match_patch.prototype.diff_to_getDifference = function(diffs,child) {
    results = ""

    var currentQuill = indexArray[child-1]
    idx = 0
    for (var x = 0; x < diffs.length; x++) {
      var op = diffs[x][0];    // Operation (insert, delete, equal)
      var data = diffs[x][1];  // Text of change.

      results += data
      switch (op) {
        case 1:
          currentQuill.insertText(idx, data, {
            'background': '#adff2f'
          });
          break;
        case -1:
          currentQuill.insertText(idx, data, {
            'background': '#f08080'
          });
          break;
        case 0:
          currentQuill.insertText(idx, data, {
            'color': '#000000'
          });
          break;
      }
      idx += data.length
    }


    return results

  }



var dmp = new diff_match_patch();
dmp.Diff_Timeout = 1
dmp.Diff_EditCost = 4

  function launch(master) {

    var masterText = dicMe[master]


    for (let key = 1; key <= 3; key++) {
      if (key == master){
        var masterQuill = indexArray[key-1]
        masterQuill.setText("")
        masterQuill.setText(dicMe[key])
        continue;
      }
      var currentQuill = indexArray[key-1]
      currentQuill.setText("")

      var currentText = dicMe[key]

      // console.log("Look at here" + currentText)
      // console.log("masterText" + masterText)
      // console.log("currentText"+ currentText)
      var d = dmp.diff_main(masterText, currentText);
      dmp.diff_cleanupSemantic(d);
      dmp.diff_to_getDifference(d,key);
    }



  }
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>
